__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
.env
.build/
venv
dist/
build/
*.egg-info/

.idea
.vscode
__pycache__/
*.pyc
*.pyo
*.pyd

.png
.jpg
.jpeg
.gif
